<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CDPlayerSwift.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>62687EDC1DFA8C3900A1C9A9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>62687EF01DFA8C3900A1C9A9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>62687EFB1DFA8C3900A1C9A9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
